<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFsT2NHV2djMEZKeUNBZzdNNmtUNApEcVp4aHlZbXVPZnVZR01icXNsbjE5UDhSeC9HL1ZCclA4aWhaSVg0ZzNIcThWRCt4NEJVSEIyd3o2cFlBMGpvCkFFSXNGZjlPZkpjdFhvcm15emdhYWJGM3h0RFBJNzdjeEExNXZEVEk0cTJzMUp1LzB0RFF6clhuMU5QRVlIWGkKY2lHSTJ6Z1dzNUlPSnArNmxORUFLbzd0Y2FURUJvM2VwTUdYRFZrREZpSWVtd3FVZlVrMlNQNytRUlJVcE5zNQpFYUhJT09JeVZDMmpZTit0WlVERW1sNU9BSUY3a0FYYXZqRTdRUWRrWEsxT0lIZ21ReWlXbGVyUW82eVBUU3hOClpUcDZtbzZaQkpvNHQ1K2JxVFVuR255NEk2YmdOdElGbDZqQ2hzeTQ3ZUt5bHcxNWRNbS93NkttVFNMVkhqSWoKUTVsV0NLZWtzdm11NmZQY2RONFpUcHdYbE9OTzcyd2x1UXlIZ25tcUM4WmtFZWp4eWNHSnVZZVZQN2pvWUkxdwpuMldYSjcyZWZKT0dVVlF6RHl4L0tuZHZIWDJ1ejk5ckdvVUh5Z1lJYXBFVm41TTlOZEc3K2hDSks3RDI5Y2hsCnNFemo4ZGxaN1EySGNFNXBLWGY0Vy9PcExHcmQrNGFkOGhzT0FoblFBV1VwQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>iFoundSilentHouse</string>
</dict>
</plist>
