<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFtQysvakY0YzZNVHo5cW83ckIwMgp6MWhrZTR2QVFtQndjRnBGOTlUVGVobDRKK2c4M2dxNi9EVmpKSnVDc0NIY3VVZ3hDM0Q2QUtQSmttbU9hbDl2CmVTQVNkbnNpUXNyWVdYVU83dUxBZjQ5eTlod2l5SEpFNW5GMXBwRDMxbXNhRHVZU1I1K2Q5Z0x1V1VPeTlGWHAKZTZiVUNTeEtySytxaTl4YU5CRXNEcUJVc1JmSmRyRmpxNzRucmxhbk9wamw3WXpFSU14RjNhQjY4WDlKVWVJdApnUzVCQ1NHZFEzbnVDOWlRb2diTmN0Nm5pbXJuUlZFWXM5SjFDU055SHN3czNRYWd4NVdmZCtlZ2FXTjROZW02CjJVbU1CQzlVZndaZGEweTBVR01uVlJyUWtuUGppYjNFL3AvaVZGNjZJUjdYbEQ5NXZ0eitBV2IxZUo0dzVOR2YKdndJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>2048</integer>
	<key>signature-by</key>
	<string>iFoundSilentHouse</string>
</dict>
</plist>
